PORT=
FRONTEND_URL=
MONGODB_URL=""
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=""
EMAIL_PASS=""
CLOUDINARY_URL=
GOOGLE_CLIENT_ID=
RESEND_API_KEY=
FROM_EMAIL=